<!--<p [innerHTML]="title" ></p>-->

<!--<h3> {{ year }} </h3>

<h3> My heros: </h3>

<ul>
    <li *ngFor=" let hero of heros " > 
        <h4> {{hero.name}} 
            
             <span   [style.color]="  (hero.newEmployee == true ) ? 'green' : 'orange'  " >*</span> 
             <span   [ngClass]=" (hero.newEmployee == true ) ? 'old' : 'new' "  >*</span>
            
        
        
        </h4>
 
        
        <p>
            {{hero.phone}} <br>
            {{hero.email}}  
        </p>
    </li>
</ul>-->


<!--
<button [disabled]=" ! canClick " >
{{btnTXT}} <span *ngIf="countDown != 0">({{countDown}})s</span> 
</button>-->

<!--

<form [formGroup]="userform" (ngSubmit)="saveUser()" >
    

    <section formGroupName="personalInfo"  >
        <label for="">Userame  </label> <br>

        <input formControlName="username" type="text" ><br>
    
        <label for="">Email  </label> <br>
    
        <input formControlName="email" type="text" ><br>
    
        <label for="">Password  </label> <br>
    
        <input formControlName="password" type="password" ><br>
    
    </section>


    <section formGroupName="address"  >
        <label for="">City   </label> <br>

        <input formControlName="city" type="text" ><br>
    
        <label for="">Zip code   </label> <br>
    
        <input formControlName="zipCode" type="text" ><br>
    
        <label for="">Satet    </label> <br>
    
        <input formControlName="state" type="password" ><br>
    
    </section>
    

    <button [disabled]=" ! userform.valid " type="submit">Check</button>
</form>-->
<!--
<h3>List of users:</h3>
<ul>
    <li *ngFor="let u of users">
        <p>
            <strong>{{u.username}}</strong><br>
            {{u.email}}
        </p>
        <button (click)="deleteUser(u.id)" >delete</button>
    </li>
</ul>-->




<!-- stepper -->



<!--
      formOne = new FormGroup({
    username : new FormControl()
  })

  
  formTwo = new FormGroup({
    address : new FormControl(),
    phone : new FormControl()
    
  })


  formThree= new FormGroup({
    email : new FormControl(),
    password : new FormControl()
    
  })

-->

<!--
<form [formGroup]="formOne" *ngIf=" steps == 0 " >
    <label for="">Userame  </label> <br>

    <input formControlName="username" type="text" ><br>
</form>


<form [formGroup]="formTwo" *ngIf=" steps == 1 " >
    <label for="">address  </label> <br>

    <input formControlName="address" type="text" ><br>
    <label for="">phone  </label> <br>

    <input formControlName="phone" type="text" ><br>
    
</form>


<form [formGroup]="formThree" *ngIf=" steps == 2 " >
    <label for="">email  </label> <br>

    <input formControlName="email" type="text" ><br>
    <label for="">password  </label> <br>

    <input formControlName="password" type="text" ><br>
    
</form>

<button (click)="next()" *ngIf=" steps != 2 " >NEXT</button>
<button (click)="validate()" *ngIf=" steps == 2 " >submit</button>-->






<!--
    <h1>{{date | date:'medium' }}</h1>

<h1  > {{welcomeMes | uppercase }} </h1>
<h1  > {{ 'THIS IS AN UPPER CASE STRING'  | lowercase }} </h1>

<h1  > {{ 'this is a title' | titlecase }} </h1>

<h3> Total : {{ 580.69 | currency:'TND' }} </h3>
 

<h3> {{ 'test@test.tn' | hideemail }} </h3>
-->



<!--*******************************compo***********************************-->
<!--

<app-navbar></app-navbar>
 
 

<div class="container">
    <h3> List of contacts:</h3>

    <ul class="list-group">
        <app-contact-item *ngFor="let c of contacts" [contact]="c" ></app-contact-item> 
    </ul>
 
</div>-->


<!--********************Routing**********************-->
<router-outlet></router-outlet>