/* You can add global styles to this file, and also import other style files */
.film-item:hover{
    position: relative;
    filter: brightness(0.3);

}


.film-item > .film-title{
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    top: calc( 50% - 22px );
    display: none;
}


.film-item:hover > .film-title{
  display: block;

}